In [4]:
import sys
list_in = []
list_new = []
for line in sys.stdin:
    #list_new = line.split()  ## str
    list_new = [int(x) for x in line.split()]  ## int
    list_in.append(list_new)

# list_in = [[23,12],[42,4]]

for i in list_in:
    print(*i)

"""
input:
23 12
42 4
output:
23 12
42 4
"""

'\ninput:\n23 12\n42 4\noutput:\n23 12\n42 4\n'

In [59]:
import pandas as pd
df = pd.DataFrame({'a': [1,2,3,4,5,6,7],
                   'b': [1,1,1,0,0,0,0]})

grouped = df.groupby('b')
grouped = grouped.apply(lambda x: x.sample(n=2))

In [60]:
grouped

     a  b
b
0 3  4  0
  6  7  0
1 0  1  1
  1  2  1

In [61]:
grouped = grouped.reset_index(level=0, drop=True).sort_index(ascending=True)

In [62]:
grouped

   a  b
0  1  1
1  2  1
3  4  0
6  7  0