In [1]:
import pandas as pd
from dataframe_observer import DataframeObserver as DO
from feature_reduction import FeatureReduction as FR
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder
from feature_handling import FeatureHandling as FH
df1 = pd.read_csv('titanic.csv')
DO.read_df_info(df1)

------------------
846 rows, 12 columns.
------------------
               Dtype  Count  unique   unique%  missing  missing%
PassengerId    int64    846     846  1.000000        0  0.000000
Pclass         int64    846       3  0.003546        0  0.000000
Name          object    846     846  1.000000        0  0.000000
Sex           object    846       2  0.002364        0  0.000000
Age          float64    676      86  0.101655      170  0.200946
SibSp          int64    846       7  0.008274        0  0.000000
Parch          int64    846       7  0.008274        0  0.000000
Ticket        object    846     652  0.770686        0  0.000000
Fare         float64    846     243  0.287234        0  0.000000
Cabin         object    192     143  0.169031      654  0.773050
Embarked      object    844       3  0.003546        2  0.002364
Survived       int64    846       2  0.002364        0  0.000000
------------------

In [2]:
X=df1.drop(['PassengerId','Name','Ticket','Survived','Cabin'],axis=1)
y = df1['Survived']
print(X.columns)

cat = ['Sex', 'SibSp', 'Parch', 'Embarked']
num = ['Age','Fare']

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [3]:
fh = FH(X)
for col in cat:
    fh.imputer(col)
for col in num:
    fh.imputer(col,'median')
X = fh.df1

In [4]:
ss =StandardScaler()
X_num = ss.fit_transform(X[num])
X_num = pd.DataFrame(X_num,columns=num)
X_num.head()

        Age      Fare
0  0.410532 -0.504428
1 -1.421704  0.293167
2  0.715905 -0.385339
3  0.410532  9.608697
4 -1.039988 -0.435376

In [5]:
oe = OrdinalEncoder()
X_cat = oe.fit_transform(X[cat])
X_cat = pd.DataFrame(X_cat,columns=cat)
X_cat.head()

   Sex  SibSp  Parch  Embarked
0  1.0    0.0    0.0       2.0
1  1.0    5.0    2.0       2.0
2  1.0    0.0    0.0       2.0
3  1.0    0.0    0.0       0.0
4  1.0    0.0    0.0       2.0

In [6]:
# X_encoded = FH(X).general_encoder(num_cols=num,one_hot_cols=[],ordinal_cols=cat)
# X_encoded.head()

In [13]:
fr = FR('bin',pd.concat([X_cat,X_num],axis=1),y)
top,top_df = fr.tree_based(5,100,5)

In [14]:
top_df

     SibSp  Sex  Parch      Fare  Embarked
0      0.0  1.0    0.0 -0.504428       2.0
1      5.0  1.0    2.0  0.293167       2.0
2      0.0  1.0    0.0 -0.385339       2.0
3      0.0  1.0    0.0  9.608697       0.0
4      0.0  1.0    0.0 -0.435376       2.0
..     ...  ...    ...       ...       ...
841    0.0  1.0    0.0 -0.492419       2.0
842    0.0  0.0    0.0 -0.490417       1.0
843    0.0  1.0    0.0  0.825564       2.0
844    0.0  0.0    0.0 -0.494420       2.0
845    0.0  1.0    0.0 -0.484413       2.0

[846 rows x 5 columns]